<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav>
    <a routerLink="/cta">Call to Action</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/donate">Donate to CTA</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/fulfillment">Fulfill CTA</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/submitFulfillment">Submit Fulfill CTA</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/approve">approve Fullfillment</a>&nbsp;&nbsp;&nbsp;&nbsp;
  </nav>
  <router-outlet></router-outlet>
</div>

